.service{
    font-size: 25px;
    font-weight: 600;
}

.txt{
    width: 400px;
}

.browse{
    border: none;
    border-radius: 5px;
    background-color: rgba(40, 40, 197, 0.836);
    width: 120px;
}

.next{
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgba(15, 19, 201, 0.685);
    margin-left: 1200px;
}

/* Responsive styles for tablets */
@media only screen and (max-width: 768px) {
    .service {
        font-size: 20px;
    }

    .txt {
        width: 100%;
    }

    .browse {
        width: 100%;
        margin-top: 10px;
    }

    .next {
        margin-left: 0;
    }
}

/* Responsive styles for mobile devices */
@media only screen and (max-width: 480px) {
    .service {
        font-size: 18px;
    }

    .txt {
        width: 100%;
    }

    .browse {
        width: 100%;
        margin-top: 10px;
    }

    .next {
        margin-left: 0;
    }
}